<div >
  <mat-tab-group>
    <mat-tab label="Numeros"> 
      <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>
          <canvas #drawingCanvas 
          (mousedown)="startDrawing($event)"
          (mousemove)="draw($event)"
          (mouseup)="stopDrawing()"
          (mouseleave)="stopDrawing()">
  </canvas>
  <div class="buttons">
    <button (click)="clearCanvas()">Borrar Todo</button>
    <button (click)="saveAsPNG()">Evaluar</button>
  </div>

        </mat-grid-tile>
        <mat-grid-tile>


          <h5>
            aqui esramos jandeando
          </h5>
          
          

        </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>


      </mat-grid-list>
    
    </mat-tab>
    <mat-tab label="Rostros"> Content 2 </mat-tab>
  </mat-tab-group>
  

</div>