<!-- frontend/src/app/app.component.html -->
<mat-tab-group>
  <!-- TAB: NÚMEROS -->
  <mat-tab label="Números">
    <mat-grid-list cols="2" rowHeight="800px">
      <mat-grid-tile>
        <div class="col">
          <h1>Canvas</h1>
          <canvas></canvas>
          <button>Limpiar</button>
          <button>Evaluar</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <h1>Resultado</h1>
          <div>
            <h4>Numero real</h4>
            <h2>{{resultadoNumero.prediction}}</h2>
          </div>
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Numero</th>
                  <th>Probabilidad (%)</th>
                </tr>
              </thead>
              <tbody>
                @for (r of resultadoNumero.probabilities; track $index) {
                  <tr>
                    <td>{{r.number}}</td>
                    <td>{{ r.probability }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- TAB: ROSTROS -->
  <mat-tab label="Rostros">

      <mat-grid-list cols="2" rowHeight="800px">
        <mat-grid-tile>
          <div class="col-md-6">
            <h5 class="text-center">Cargar Imagen</h5>
            <input type="file" class="form-control" accept="image/*" (change)="onImageSelected($event)">
            <div class="mt-3 text-center">
              <button mat-raised-button color="accent">Analizar</button>
            </div>
            <div class="mt-3 text-center">
             @if (imagenSeleccionada) {
              <img [src]="imagenSeleccionada" alt="Vista previa" class="img-fluid border" style="max-height: 250px;">
             }
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <h1>Resultado</h1>
            <p><strong>Rostros detectados:</strong> {{ resultadoRostro.cantidadRostros }}</p>
            <p><strong>Emoción principal:</strong> {{ resultadoRostro.prediction }}</p>
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Emoción</th>
                    <th>Probabilidad (%)</th>
                  </tr>
                </thead>
                <tbody>
                  @for (e of resultadoRostro.probabilities; track $index) {
                    <tr>
                      <td>{{ e.emotion }}</td>
                      <td>{{ e.probability }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-tab>
</mat-tab-group>
